<% content_for :title do %>When to Mine<% end %>
  
  <div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-12 columns">
      <h1>When to mine?</h1>
      <h2 class="subheader">Will you earn a return by powering your rig <em>right now</em>?</h2>
    </div>
  </div>
  <div class="row">    
    <div class="large-6 columns">
      <div class="panel">
        <h3>Inputs</h3>
        <form id="inputs">
          <fieldset>
            <legend>Your objective</legend>
            <p>This calculator adjusts based on what you aim to achieve by mining.</p>
            <div class="row">
              <div class="columns">
                <div>
                  <input type="radio" name="objective" value="acquire" id="earning-bitcoin">
                  <label for="objective-acquire">Acquire Bitcoins</label>
                  <p>Mining is a means to acquire Bitcoin for less than you would pay to buy them. Therefore you hold onto all the Bitcoin you receive from mining.</p>
                </div>
                <div>
                  <input type="radio" name="objective" value="retain" id="earning-bitcoin">
                  <label for="objective-retain">Retain earnings as Bitcoin</label>
                  <p>You retain your earnings, after expenses, as an investment in Bitcoin. Therefore you regularly convert some of the Bitcoin you receive from mining to cover the associated expenses.</p>
                </div>
                <div>
                  <input type="radio" name="objective" value="extract" id="earning-fiat">
                  <label for="objective-extract">Extract mining profit</label>
                  <p>Your are mining for immediate profit, and not as a means to invest in Bitcoin. Therefore you regularly convert all mining proceeds to a fiat currency</p>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Your rig</legend>
            <p>Your rig is a sunk cost. These attributes will not change unless you sink more money into it.</p>
            <label>Hash rate (gigahash / second)
                <input name="hash_rate" type="text" input_mode="numeric" required >
            </label>
            <label>Electricity to mine (watts)
              <input name="mining_electricity" type="text" input_mode="numeric" required >
            </label>
            <label>Electricity to cool while mining (watts)
              <input name="cooling_electricity" type="text" input_mode="numeric" required >
            </label>
          </fieldset>

          <fieldset>
            <legend>Your operating environment</legend>
            <p>Your operating environment is generally stable, although you may be able to improve it by, for example, relocating your rig.</p>
            <label>Electricity rate (US$ / kWh)
              <input name="electricity_rate" type="text" input_mode="numeric" required >
            </label>
            <label>Rig utilization (%)
              <input name="rig_utilization" type="text" input_mode="numeric" required >
            </label>
            <label>Pool fee percentage (%)
              <input name="pool_percentage" type="text" input_mode="numeric" >
            </label>
            <label>Recuring facility fees (US$ / month)
              <input name="facility_fees" type="text" input_mode="numeric" >
            </label>
            <label>Bitcoing exchange 
              <select name="exchange">
                <option value="mtgox">Mt.Gox</option>
              </select>
            </label>
            <label>Other operating costs (US$ / month)
              <input name="other_operating_costs" type="text" input_mode="numeric" >
            </label>
          </fieldset>

          <fieldset>
            <legend>The external environment</legend>
            <p>The external environment is out of your control. It changes continuously, and largely determines when you should mine.</p>
            <label>Bitcoin mining difficulty
              <p>[set by the system]</p>
            </label>
            <label>Bitcoin reward amount (Bitcoin)
              <p>[set by the system]</p>
            </label>
            <label>Bitcoin exchange rate (US$ / Bitcoin)
              <p>[set by the system]</p>
            </label>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="large-6 columns">
      <div class="panel">
        <h3>Result</h3>
        <p>You should not be mining....</p>
      
        <p>If the current environment were to remain stable for a month you would earn ____.</p>
        
        <h3>Cash flow projection</h3>

        <table class="calculation">
          <tbody>
            <tr class="section">
              <td colspan="5">Scale</td>
            </tr>
            <tr class="line">
              <td class="operation"></td>
              <td class="item">capacity of your rig</td>
              <td class="value">1,980,000</td>
              <td class="unit">gigahash / hour</td>
            </tr>
            <tr class="line">
              <td class="operation"></td>
              <td class="item">efficiency of your rig</td>
              <td class="value">0.000002</td>
              <td class="unit">kilowatt-hour / gigahash</td>
            </tr>
            <tr class="line">
              <td class="operation"></td>
              <td class="item">utilization of your rig</td>
              <td class="value">100%</td>
              <td class="unit"></td>
            </tr>

            <tr class="spacer"><td></td></tr>
            <tr class="section">
              <td colspan="5">Revenue</td>
            </tr>

            <tr class="line">
              <td class="operation"></td>
              <td class="item">mining rewards</td>
              <td class="value">0.06617</td>
              <td class="unit">US$</td>
            </tr>
            <tr class="spacer"><td></td></tr>
            <tr class="section">
              <td colspan="5">Mining costs</td>
            </tr>

            <tr class="line">
              <td class="operation">-</td>
              <td class="item">electricity cost</td>
              <td class="value">0.06617</td>
              <td class="unit">US$</td>
            </tr>
            <tr class="line">
              <td class="operation">-</td>
              <td class="item">pool cost</td>
              <td class="value">0.000015</td>
              <td class="unit">US$</td>
            </tr>
            <%# If objective is 'extract' %>
            <tr class="line">
              <td class="operation">-</td>
              <td class="item">exchange transaction fees</td>
              <td class="value">0</td>
              <td class="unit">US$</td>
            </tr>
            <tr class="line result">
              <td class="operation">=</td>
              <td class="item">gross margin</td>
              <td class="value">41</td>
              <td class="unit">US$</td>
            </tr>

            <tr class="spacer"><td></td></tr>
            <tr class="section">
              <td colspan="5">Operating costs</td>
            </tr>

            <tr class="line">
              <td class="operation">-</td>
              <td class="item">recuring facility fees</td>
              <td class="value"><%= @report.facility_cost_value %></td>
              <td class="unit"><%= @report.facility_cost_unit %>$</td>
            </tr>
            <tr class="line">
              <td class="operation">-</td>
              <td class="item">other operating costs</td>
              <td class="value"><%= @report.other_cost_value %></td>
              <td class="unit"><%= @report.other_cost_unit %>$</td>
            </tr>
            <%# If objective is 'retain' %>
            <tr class="line">
              <td class="operation">-</td>
              <td class="item">exchange transaction fees</td>
              <td class="value">0</td>
              <td class="unit">US$</td>
            </tr>
            <tr class="line result">
              <td class="operation">=</td>
              <td class="item">earnings <br /><small>before tax, interest, depreciation, and amortization</small></td>
              <td class="value">0</td>
              <td class="unit">US$</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
  
   
