<% content_for :title do %>Afterburner Mine<% end %>
  
  <div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-8 push-2 columns">
      
      <h1>Afterburner Mine</h1>
      <h2 class="subheader">Coming soon.</h2>
      
    </div>
  </div>
    
  
   
