// Place all the styles related to the when-to-mine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';

.calculation {

    .line {
        @extend .row;

        .operation {
            @extend .small-1;
            @extend .column;
        }
        .item {
            @extend .small-3;
            @extend .column;
        }
        .value {
            @extend .small-3;
            @extend .column;
            text-align: right;
        }

        .unit {
            @extend .small-2;
            @extend .column;
            @extend small;
        }

    }
    
    .result {
        font-weight: bold;

        .value {
            border-top: 1px solid #000;
        }
    }
}








