// Place all the styles related to the when-to-mine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';

.calculation {
    .line {
        @extend .row;

        .operation {
            text-align: right;
        }

        .item {
            text-align: left;
        }

        .value {
            text-align: right;
        }

        .unit {
            @extend small;
        }

    }
    
    .result {
        font-weight: bold;

        .operation, .item, .value, .unit {
            border-top: 1px solid #000;
        }
    }

    .section {
      font-style: italic;
    }
}


.panel legend {
  background: $panel-bg;
}





