<% content_for :title do %>When to Mine<% end %>



   
  
  
  <div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-9 push-3 columns">
      
      <h1>When to Mine</h1>
      <h2 class="subheader">Power your rig <em>or</em> simply buy Bitcoin?</h2>
      
        <h3>0. Inputs</h3>
        <p>These are all the inputs to the calculation.</p>
      <form>
        <fieldset>
          <legend>Your rig</legend>
          <p>Your rig is a sunk cost. These attributes will not change unless you sink more money into it.</p>
          <label>Hash rate (gigahash / second)
              <input name="hash_rate" type="text" input_mode="numeric" required >
          </label>
          <label>Electricity to mine (watts)
            <input name="mining_electricity" type="text" input_mode="numeric" required >
          </label>
          <label>Electricity to cool while mining (watts)
            <input name="cooling_electricity" type="text" input_mode="numeric" required >
          </label>
        </fieldset>

        <fieldset>
          <legend>Your operating environment</legend>
          <p>Your operating environment is generally stable, although you may be able to improve it by, for example, relocating your rig.</p>
          <label>Electricity rate (US$ / kWh)
            <input name="electricity_rate" type="text" input_mode="numeric" required >
          </label>
          <label>Rig utilization (%)
            <input name="rig_utilization" type="text" input_mode="numeric" required >
          </label>
          <label>Pool fee percentage (%)
            <input name="pool_percentage" type="text" input_mode="numeric" >
          </label>
          <label>Recuring facility fees (US$ / month)
            <input name="facility_fees" type="text" input_mode="numeric" >
          </label>
          <label>Other operating costs (US$ / month)
            <input name="other_operating_costs" type="text" input_mode="numeric" >
          </label>
        </fieldset>

        <fieldset>
          <legend>The external environment</legend>
          <p>The external environment is out of your control. It changes continuously, and largely determines when you should mine.</p>
          <label>Bitcoin mining difficulty
            <input name="difficulty" type="text" input_mode="numeric" required >
          </label>
          <label>Bitcoin reward amount (Bitcoin)
            <input name="reward" type="text" input_mode="numeric" required >
          </label>
          <label>Bitcoin exchange rate (US$ / Bitcoin)
            <input name="exchange_rate" type="text" input_mode="numeric" required >
          </label>
        </fieldset>

        <fieldset>
          <legend>The alternative</legend>
          <p>Mining is only worthwhile if it is the least expensive way for you to acquire Bitcoin. This is the cost assumptions for the alternative of simply buying Bitcoin (or simply not losing money).</p>
          <div class="row">
            <div class="columns">
              <label>My approach is to</label> 
              <input type="radio" name="goal" value="hold" id="goal-hold"><label for="goal-hold">Hold on to Bitcoin</label>
              <input type="radio" name="goal" value="cash-out" id="goal-cash-out"><label for="goal-cash-out">Immediately cash out to a fiat currency</label>
            </div>
          </div>
          <em>I still need to research this.</em>
        </fieldset>
      </form>
      

      <div class="panel">
        <a name="your_rig"></a>
        <h3>1. Your rig</h3>
        <p>Details here.</p>
        <div class="calculation">
          <div class="line">
            <div class="operation">&nbsp;</div>
            <div class="item">hash rate</div>
            <div class="value">550.0</div>
            <div class="unit">GHash / Second</div>
          </div>
          <div class="line">
            <div class="operation">*</div>
            <div class="item">unit conversion</div>
            <div class="value">3,600</div>
            <div class="unit">Second / Hour</div>
          </div>
          <div class="line result">
            <div class="operation">=</div>
            <div class="item">capacity</div>
            <div class="value">1,980,000</div>
            <div class="unit">GHash / Hour</div>
          </div>
        </div>
      </div>
 
      <div class="panel">
        <a name="reward_rate" />
        <h3>2. Reward rate</h3>
        <p>Details here.</p>
      </div>
            
      <div class="panel">
        <a name="revenue" />
        <h3>3. Revenue</h3>
        <p>Details here.</p>
      </div>
            
      <div class="panel">
        <a name="cost_structure" />
        <h3>4. Cost structure</h3>
        <p>Details here.</p>
      </div>
            
      <div class="panel">
        <a name="cost_of_actively_mining" />
        <h3>5. Cost of actively mining</h3>
        <p>Details here.</p>
      </div>
            
      <div class="panel">
        <a name="gross_margin" />
        <h3>6. Gross margin</h3>
        <p>Details here.</p>
      </div>
            
      <div class="panel">
        <a name="rig_utilization" />
        <h3>7. Rig utilization</h3>
        <p>Details here.</p>
      </div>
            
      <div class="panel">
        <a name="operating_profit" />
        <h3>8. Operating profit</h3>
        <p>Details here.</p>
      </div>
            
    </div>
    
    
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 pull-9 columns">
        
      <ul class="side-nav">
        <li><a href="#your_rig">1. Your rig</a></li>
        <li><a href="#reward_rate">2. Reward rate</a></li>
        <li><a href="#revenue">3. Revenue</a></li>
        <li><a href="#cost_structure">4. Cost structure</a></li>
        <li><a href="#cost_of_actively_mining">5. Cost of actively mining</a></li>
        <li><a href="#gross_margin">6. Gross margin</a></li>
        <li><a href="#rig_utilization">7. Rig utilization</a></li>
        <li><a href="#operating_profit">8. Operating profit</a></li>
      </ul>
        
    </div>
    
  </div>
    
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright Afterburner Mine, 2013</p>
        </div>
      </div>
    </div> 
  </footer>
   
